<td>
	<span class="label <%= amount > 0 ? 'label-success' : 'label-important' %>"><%= amount %></span>	
</td>	
<td>
	<%= description %>
</td>	
<td>
	<%= party.name %>
</td>
<td>
	<%= prettyDate %>
</td>
<td>
	<a href="#" class="delete btn btn-danger btn-mini"><i class="icon-remove"></i></a>
</td>